@import '../../../../../node_modules/@angular/material/core/theming/_theming';
@import '../../../../../node_modules/@angular/material/core/theming/_all-theme';

md-page-indicator {
    div.d-page-indicator-container {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    button {
        &.d-page-indicator-button {
            min-width: 0px;
        }
    }
}