<div class="d-table-container" resizeEvents (onResize)="onResize($event)">

    <md-block-ui [visible]="collection?.busy | async"></md-block-ui>

    <div class="d-table-wrapper">
        <div class="d-table-row d-table-header">
            <div class="d-table-cell d-table-selector">
                <md-checkbox [(ngModel)]="allSelected"></md-checkbox>
            </div>
            <div *ngFor="let column of columns" resizeEvents (onResize)="column.onResize($event)"
                 [ngClass]="{ 'd-table-cell': true,
                              'd-table-sortable': column.canSort,
                              'd-table-sorted-asc': sortBy == column.property && sortDirection == 1,
                              'd-table-sorted-desc': sortBy == column.property && sortDirection == 2,
                              'd-table-cell-text': column.type == 1,
                              'd-table-cell-number': column.type == 2,
                              'd-table-cell-template': column.type == 3,
                              'd-table-column-invisible': !column.visible }"
                 [ngStyle]="{ 'width': column.clientSize }"
                 (click)="toggleSort(column)">
                <span>{{column.title}}</span><span class="material-icons d-table-sort-arrow">arrow_upward</span>
            </div>
        </div>

        <item #listItem="listItem" [model]="item"
                   *ngFor="let item of collection?.values | async; let index = index; trackBy:collection?.getKey"
                    [ngClass]="{ 'd-table-row': true, 'd-table-selected': listItem.selected }">

            <div class="d-table-cell d-table-selector">
                <md-checkbox [(ngModel)]="listItem.selected"></md-checkbox>
            </div>
            <div *ngFor="let column of columns"
                 [ngClass]="{ 'd-table-cell': true,
                              'd-table-cell-text': column.type == 1,
                              'd-table-cell-number': column.type == 2,
                              'd-table-cell-template': column.type == 3,
                              'd-table-column-invisible': !column.visible }"
                 [ngStyle]="{ 'width': column.clientSize }">
                <d-content [condition]="column.template" [template]="column.template" [model]="item" [index]="index"></d-content>
                <span *ngIf="!column.template">{{item[column.property]}}</span>
            </div>
        </item>
    </div>
</div>