@import '../../../../node_modules/@angular/material/core/style/variables';
@import '../../../../node_modules/@angular/material/core/style/elevation';
@import '../../../../node_modules/@angular/material/core/a11y/a11y';
@import '../../material/icons';


$data-list-header-color: rgba(#000, 0.54) !default;
$data-list-checkbox-size: 18px;

d-list {
    .d-list-wrapper {
        font-family: $md-font-family;
        font-size: 100%;
        margin-top: 5px;
        margin-bottom: 5px;

        .d-placeholder {
            margin-bottom: 3px;
            font-size: 75%;
            color: rgba(0, 0, 0, 0.38);
        }

        .d-list-item {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .md-checkbox-inner-container {
            width: $data-list-checkbox-size;
            height: $data-list-checkbox-size;
            color: $data-list-header-color;
        }
    }
}
