<md-toolbar color="primary">
    <button md-button (click)="sidenav.open()"><span class="material-icons">menu</span></button>
    <span>Users</span>
    <div fxFlex></div>
    <button md-button align="end">New</button>
    <button md-button align="end">Delete</button>
</md-toolbar>

<md-sidenav-container>
    <md-sidenav #sidenav>
        <app-nav></app-nav>
    </md-sidenav>
    <p></p>
    <div class="flex-container" fxLayout="row">

        <div class="flex-item" fxFlex="20%"></div>

        <div class="flex-item" fxFlex>

            <md-data-table [itemsSource]="items" [(selection)]="sel" valueProperty="id" orderBy="-name">
                <column property="id" type="number" title="Key"></column>
                <column property="name" title="Name" type="text"></column>
            </md-data-table>
            {{ sel | json }}
        </div>

        <div class="flex-item" fxFlex="20%"></div>
    </div>


</md-sidenav-container>