<md-card style="max-width:800px;margin-left:auto;margin-right:auto;margin-top:10px">
    <md-card-title>Edit User</md-card-title>
    <md-card-subtitle>This is an edit user card</md-card-subtitle>

    <md-card-content>
        <form id="userForm" (ngSubmit)="save(frm)" #frm="ngForm" novalidate>
            <md-input-container>
                <input required md-input name="Name" #nameCtrl="ngModel" [(ngModel)]="userSource.model.name" placeholder="{{ 'security.users.user.name' | translate:lang }}" />
                <md-hint [errormsg]="nameCtrl" fieldName="Name"></md-hint>
            </md-input-container>

            <md-input-container>
                <input md-input name="Email" #mailCtrl="ngModel" [(ngModel)]="userSource.model.email" placeholder="{{ 'security.users.user.mail' | translate:lang }}" />
                <md-hint [errormsg]="mailCtrl" fieldName="Mail"></md-hint>
            </md-input-container>

            <md-input-container>
                <input md-input name="Address" #addressCtrl="ngModel" [(ngModel)]="userSource.model.address" placeholder="{{ 'security.users.user.address' | translate:lang }}" />
                <md-hint [errormsg]="addressCtrl" fieldName="Address"></md-hint>
            </md-input-container>

            <d-list [dataSource]="rolesSource" [selection]="userSource.model.roles" placeholder="roles">
                <template let-model="model" let-index="index">
                    {{model.name}}
                </template>
            </d-list>
        </form>
    </md-card-content>

    <md-card-actions>
        <div fxLayout="row">
            <div fxFlex></div>
            <button md-button (click)="save(frm)">Save</button>
            <button md-button (click)="close()">Cancel</button>
        </div>
    </md-card-actions>
</md-card>