<md-toolbar color="primary">
    <span *ngIf="userSource.isNew" translate="yes">security.users.new.title</span>
    <span *ngIf="!userSource.isNew">{{ 'security.users.edit.title' | translate:lang:{ user: userSource.model.name } }}</span>
    <div fxFlex></div>
    <button md-button type="submit" form="userForm">
        <md-icon>save</md-icon>
        <span>Save</span>
    </button>
    <button md-button (click)="delete();">
        <md-icon>delete</md-icon>
        <span>Delete</span>
    </button>
    <button md-button>
        <md-icon>more_vertical</md-icon>
    </button>
</md-toolbar>

<md-card>
    <form id="userForm" (ngSubmit)="save(frm)" #frm="ngForm" novalidate>
        <md-input-container>
            <input md-input name="name" #nameCtrl="ngModel" [(ngModel)]="userSource.model.name" placeholder="{{ 'security.users.user.name' | translate:lang }}" />
            <md-hint [errormsg]="nameCtrl" fieldName="Name"></md-hint>
        </md-input-container>
    </form>
</md-card>