
<md-card>
    <md-card-title>Users List</md-card-title>
    <md-card-subtitle>

    </md-card-subtitle>
    <md-card-content>

        <div fxLayout="row" class="feature-toolbar">
            <md-input-container>
                <input md-input placeholder="search" />
                <md-icon md-prefix>search</md-icon>
            </md-input-container>
            <div fxFlex></div>
            <button md-button>New</button>
        </div>

        <d-table [dataSource]="users">
            <d-column property="id" type="number"></d-column>
            <d-column property="name"></d-column>
            <d-column property="email"></d-column>
            <d-column>
                <template let-model="model">
                    <button md-icon-button [routerLink]="['/security/users/' + model.id]"><md-icon>edit</md-icon></button>
                </template>
            </d-column>
        </d-table>

    </md-card-content>
</md-card>




