<md-error-box [errors]="[userCollection.error]"></md-error-box>

<md-card>
    <md-card-title>Users List</md-card-title>
    <md-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="stretch center">
            <md-input-container>
                <input md-input placeholder="search" [(ngModel)]="userCollection.searchText" (ngModelChange)="userCollection.load()" />
                <md-icon md-prefix>search</md-icon>
            </md-input-container>
            <div fxFlex></div>
            <button md-raised-button color="accent" [routerLink]="['/security/users/new']"><md-icon>add</md-icon> New</button>
        </div>
    </md-card-subtitle>
    <md-card-content>
        <md-data-table [collection]="userCollection" [selection]="userSelection">
            <md-data-column property="id" type="number"></md-data-column>
            <md-data-column property="name" priority="0"></md-data-column>
            <md-data-column property="email"></md-data-column>
            <md-data-column property="address"></md-data-column>
            <md-data-column>
                <template let-model="model">
                    <button md-icon-button [routerLink]="['/security/users/' + model.id]"><md-icon>edit</md-icon></button>
                </template>
            </md-data-column>
        </md-data-table>
    </md-card-content>
    <md-card-actions>
        <md-page-indicator [(pageIndex)]="userCollection.params.pageIndex"
                           [pageCount]="userCollection.pageCount"
                           (pageIndexChange)="userCollection.load()">
        </md-page-indicator>
    </md-card-actions>
</md-card>