<div class="d-list-wrapper">
    <div class="d-placeholder">
        <label>{{placeholder}}</label>
    </div>
    <div class="d-list-item" *ngFor="let item of items">
        <md-checkbox [(ngModel)]="item.selected">

            <d-content [condition]="template"
                       [template]="template"
                       [model]="item.model"
                       [index]="index"></d-content>

            <span *ngIf="!template">{{item.model[displayProperty]}}</span>
        </md-checkbox>
    </div>
</div>