md-block-ui {
    .d-block-ui-container {
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
        visibility: collapse;

        &.d-block-ui-visible {
            visibility: visible;
            opacity: 0.8;
        }

        md-progress-circle {
            width: 45px;
            height: 45px;
        }
    }
}
