<!doctype html>
<html>
<head>
    <title>Detached for EF Core</title>
    <base href="/" />
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="~/css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />
</head>
<body>
    <app>Loading...</app>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>