@import '../../../../node_modules/@angular/material/core/style/variables';
@import '../../../../node_modules/@angular/material/core/style/elevation';
@import '../../../../node_modules/@angular/material/core/a11y/a11y';

md-data-select {
    font-family: $md-font-family;

    div.list {
        @include md-elevation(3);
        margin-top: -10px;
        background-color: white;
        padding: 10px;
    }

    div.item {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        min-width: 195px;
    }
}
