// material
@import '../../../node_modules/@angular/material/core/_core';
@import '../../../node_modules/@angular/material/core/theming/_palette';
@import '../../../node_modules/@angular/material/core/theming/_theming';
@import '../../../node_modules/@angular/material/core/theming/_all-theme';
// custom controls
@import './components/page-indicator/page-indicator.scss';
@import './components/data-list/data-list.scss';
@import './components/data-table/data-table.scss';
@import './components/block-ui/block-ui.scss';

@include md-core();

$primary: md-palette($md-grey, A700, A800, A900);
$accent:  md-palette($md-orange, 800, 800, 900);
$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);