<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title><strong>Detached</strong> for EF Core</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>

            <!--<nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link">Link</a>
                <a class="mdl-navigation__link">Link</a>
                <a class="mdl-navigation__link">Link</a>
            </nav>-->
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <mdl-layout-title>Title</mdl-layout-title>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link">Link</a>
            <a class="mdl-navigation__link">Link</a>
            <a class="mdl-navigation__link">Link</a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content>
        <router-outlet></router-outlet>
    </mdl-layout-content>
</mdl-layout>