html, body, app, md-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

md-sidenav {
    width: 280px;
}

.md-button-wrapper {
    .material-icon {
        font-size: 11px;
        vertical-align: baseline;
        display: inline;
    }
}

