.jsoneditor {
    width: 100% !important;
    border: 1px solid #b5b5b5 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.jsoneditor-menu {
    border-bottom: 1px solid #b5b5b5 !important;
    background: #E0E0E0 !important;
}
